ALTER USER '{{ DATABASE_ROOT_NAME }}'@'localhost' IDENTIFIED BY '{{ DATABASE_ROOT_PASS }}';
CREATE DATABASE {{ DATABASE_NAME }};
USE {{ DATABASE_NAME }};
CREATE USER '{{ DATABASE_USER_NAME }}'@'%' IDENTIFIED BY '{{ DATABASE_USER_PASS }}';
GRANT ALL PRIVILEGES ON {{ DATABASE_NAME }}.* TO '{{ DATABASE_USER_NAME }}'@'%';

